################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ScanProduct/FileContentIndex/a31c0df2-928b-4288-ade1-55df8c8551d7.vsidx
