################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ScanProduct/FileContentIndex/a31c0df2-928b-4288-ade1-55df8c8551d7.vsidx
/.vs/ScanProduct/FileContentIndex/169cd1e3-9482-424e-adcb-535f8ea0dd75.vsidx
/.vs/ScanProduct/FileContentIndex/4b555586-4bc0-493f-9b18-d0f6c6b8111a.vsidx
/.vs/ScanProduct/FileContentIndex/779e3224-f7f8-4749-a08a-bdbf7dcdeb13.vsidx
/.vs/ScanProduct/FileContentIndex/bb3c2839-2460-4d92-a5f5-4e3628c88b94.vsidx
/.vs/ScanProduct/FileContentIndex/b1aa048f-b55c-4ccd-8fc4-db8f860b9398.vsidx
